{% extends 'base.html' %}

{% block content %}

              <!-- Area Chart -->
              <div class="col-xl-8 col-lg-7">
                    <div class="card shadow mb-4">
                      <!-- Card Header - Dropdown -->
                      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">한글</h6>
                      </div>
                      <!-- Card Body -->
                      <div class="card-body">
                          
                          
                          <form action="{% url 'result' %}">
                              <textarea cols="110" rows="20" name="korean_sentence" placeholder="이곳에 한글 문장을 입력해주세요" required
                              class="form-control bg-light border-0 small"></textarea>
                              <button class="btn btn-primary" type="submit">Count</button>
                          </form>
                      </div>
                    </div>
              </div>
              <!-- Area Chart -->
              <div class="col-xl-8 col-lg-7">
                    <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                              <h6 class="m-0 font-weight-bold text-primary">English</h6>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                
                                
                                <form action="{% url 'result' %}">
                                    <textarea cols="110" rows="20" name="english_sentence" placeholder="이곳에 영어 문장을 입력해주세요" 
                                    class="form-control bg-light border-0 small" wrap="hard" required></textarea>
                                    <button class="btn btn-primary" type="submit">Count</button>
                                </form>
                            </div>
                          </div>
              </div>
            
<!--
<div class="container">
<h1>Word Count!</h1>
<br><br>

<a href="{% url 'about' %}"><h3>ABOUT</h3></a><br>

    <form action="{% url 'result' %}">
        <textarea rows="10" cols="50" name="sentence"></textarea><br>
        <button class="btn btn-primary" type="submit">Count</button>
    </form>
</div>
    -->
{% endblock %}

